{% extends "base.html" %}
<!-- Added this file for the MVP for forbidden action 403 -->
{% block content %}
<section>
    <h1>Error - HTTP Forbidden! </h1>
    <h2>click Home in menu to return to main page</h2>
    {% if user.is_authenticated %}
    {% if user.username %}
    <div class="primary-action btn not-btn">Hi {{user.username}}</div>
    {% else %}
    <div class="primary-action btn not-btn">Hi Anonymous</div>
    {% endif %}
    {% else %}
    <a href="{% url 'account_signup' %}" class="primary-action btn">Sign up Now, and contribute your own posts and comments!</a>
    {% endif %}
</section>

{%endblock%}
