{% extends 'base.html' %}
<!--{% load static %}
{% load i18n %} -->
{% block content %}
{% load crispy_forms_tags %}
<section class="account-container p-2 mt-2 mx-2"> 
    <div id="post-vehicle">
        <h2>Please create your vehicle post</h2>

        <div class="form-container p-2 mt-2">
            <form class="add-vehicle-form" action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb4">Create Post</legend>
                    {{form | crispy }}
                    </fieldset>
<!--                {% for field in form %}
                <div class="flex mt-2 form-pair">
                    {{field.label_tag}}
                    {{field}}
                 </div>
                {% endfor %}
  -->          
                
                <button class="btn primary-action mt-2" type="submit" value="submit">Submit</button>
            </form>
                        
        </div>
         
    </div>

{% endblock %}